project:
  type: website
  output-dir: docs

website:
  title: "Your Website"
  navbar:
    left:
      - text: "Home"
        href: index.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: false
